# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Kubernetes
kubeconfig
*.kubeconfig
.kube/

# Docker
.docker/
config.json

# SSH Keys
*.key
id_rsa
id_rsa.pub

# Ansible
*.retry

# Jenkins
jenkins_home/
secrets/

# Cloud Credentials
.aws/
azureProfile.json
gcloud.json
